@import url(../../js/fancybox/jquery.fancybox.css);
@font-face {
  font-family: "RobotoRegular";
  src: url('/fonts/Roboto-Medium-webfont.eot');
  src: url('/fonts/Roboto-Medium-webfont.eot?#iefix') format('eot'), url('/fonts/Roboto-Medium-webfont.woff') format('woff'), url('/fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('/fonts/Roboto-Medium-webfont.svg') format('svg');
}

@font-face {
  font-family: "RobotoThin";
  src: url('/fonts/Roboto-Light-webfont.eot');
  src: url('/fonts/Roboto-Light-webfont.eot?#iefix') format('eot'), url('/fonts/Roboto-Light-webfont.woff') format('woff'), url('/fonts/Roboto-Light-webfont.ttf') format('truetype'), url('/fonts/Roboto-Light-webfont.svg') format('svg');
}

/* line 94, sass/_mixins.scss */
.header, .collapse, .border-box form .fields-row, .grid, .social, .footer {
  zoom: 1;
}
/* line 97, sass/_mixins.scss */
.header:before, .collapse:before, .border-box form .fields-row:before, .grid:before, .social:before, .footer:before, .header:after, .collapse:after, .border-box form .fields-row:after, .grid:after, .social:after, .footer:after {
  content: " ";
  display: table;
}
/* line 101, sass/_mixins.scss */
.header:after, .collapse:after, .border-box form .fields-row:after, .grid:after, .social:after, .footer:after {
  clear: both;
}

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, sass/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, sass/_base.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, sass/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, sass/_base.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, sass/_base.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, sass/_base.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, sass/_base.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, sass/_base.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, sass/_base.scss */
h1 {
  font-size: 2em;
  line-height: 1.4em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 118, sass/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 127, sass/_base.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 135, sass/_base.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 143, sass/_base.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 153, sass/_base.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 165, sass/_base.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 174, sass/_base.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 182, sass/_base.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 190, sass/_base.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 199, sass/_base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 206, sass/_base.scss */
sup {
  top: -0.5em;
}

/* line 210, sass/_base.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 222, sass/_base.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 230, sass/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 242, sass/_base.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 254, sass/_base.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 265, sass/_base.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 279, sass/_base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 291, sass/_base.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 303, sass/_base.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 318, sass/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 328, sass/_base.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 338, sass/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 349, sass/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 362, sass/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 371, sass/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 381, sass/_base.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 394, sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 399, sass/_base.scss */
body {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
}

/* line 405, sass/_base.scss */
a,
a:hover {
  color: #637B38;
}

/* line 410, sass/_base.scss */
ul,
ol {
  margin: 15px 0;
  padding: 0 0 0 20px;
  line-height: 140%;
}

/* line 1, sass/_content.scss */
.wrap {
  width: 920px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* line 8, sass/_content.scss */
.header-text {
  font-size: 35px;
  letter-spacing: 1pt;
  line-height: 110%;
  color: #637a38;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  padding: 30px 0;
}

/* line 19, sass/_content.scss */
.header {
  padding-bottom: 50px;
}

/* line 24, sass/_content.scss */
.header-description {
  overflow: hidden;
}
/* line 26, sass/_content.scss */
.header-description h1 {
  font-size: 45px;
  font-stretch: condensed;
  letter-spacing: -1pt;
  line-height: 98%;
}
/* line 33, sass/_content.scss */
.header-description p {
  font-size: 20px;
  line-height: 120%;
  margin: 0;
}
/* line 39, sass/_content.scss */
.header-description p span {
  color: #999;
}
/* line 43, sass/_content.scss */
.header-description h2 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1pt;
  line-height: 101%;
  color: #b71401;
}

/* line 53, sass/_content.scss */
.header-img {
  float: left;
  background-image: url('/images/top-image.jpg?1360892358');
  width: 423px;
  height: 424px;
  margin-right: 30px;
  margin-left: -30px;
}

/* line 61, sass/_content.scss */
.letter p, .letter ul {
  margin: 15px 0;
  font-size: 14px;
  line-height: 140%;
}

/* line 68, sass/_content.scss */
.collapse {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 73, sass/_content.scss */
.collapse .collapse-link {
  display: block;
  font-size: 14px;
  letter-spacing: 0pt;
  line-height: 140%;
  color: #666;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  margin-top: 10px;
  position: relative;
}
/* line 5, sass/_mixins.scss */
.collapse .collapse-link:after {
  content: "";
  display: block;
  width: 12px;
  height: 7px;
  background: url('/images/sprite-s03dad00836.png') 0 -266px no-repeat;
  position: absolute;
  right: 0;
  top: 7px;
}
/* line 91, sass/_content.scss */
.collapse .collapse-content {
  max-height: 0;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  overflow: hidden;
}
/* line 96, sass/_content.scss */
.collapse .collapse-content :last-child {
  margin-bottom: 0;
}
/* line 5, sass/_mixins.scss */
.collapse .active .collapse-link:after {
  content: "";
  display: block;
  width: 12px;
  height: 7px;
  background: url('/images/sprite-s03dad00836.png') 0 0 no-repeat;
}
/* line 106, sass/_content.scss */
.collapse .active .collapse-content {
  max-height: 1500px;
  overflow: hidden;
}
/* line 112, sass/_content.scss */
.collapse.collapse_2-col .collapse-item {
  width: 49%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 1.999%;
}
/* line 117, sass/_content.scss */
.collapse.collapse_2-col .collapse-item:first-child {
  margin-left: 0;
}

/* line 124, sass/_content.scss */
.grey-box {
  background-color: #ECEEEF;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25), inset 0 1px 2px 0 rgba(12, 51, 76, 0.27);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25), inset 0 1px 2px 0 rgba(12, 51, 76, 0.27);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25), inset 0 1px 2px 0 rgba(12, 51, 76, 0.27);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
}

/* line 134, sass/_content.scss */
.helping h1 {
  margin-top: 0;
  font-size: 26px;
  line-height: 98%;
  color: #637938;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
/* line 142, sass/_content.scss */
.helping h1 span {
  font-weight: bold;
  color: #B71300;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
/* line 146, sass/_content.scss */
.helping h1 span i {
  font-style: normal;
  font-size: 50px;
  line-height: 140%;
}

/* line 156, sass/_content.scss */
.banks p {
  line-height: 1.4em;
}

/* line 161, sass/_content.scss */
.heading-red {
  font-family: 'RobotoThin', sans-serif;
  font-size: 35px;
  line-height: 120%;
  color: #B71502;
  text-align: center;
}

/* line 169, sass/_content.scss */
.border-box {
  border: 1px solid #F0F0F0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 18px;
}
/* line 174, sass/_content.scss */
.border-box h3 {
  margin-top: 0;
}
/* line 178, sass/_content.scss */
.border-box p:last-child {
  margin-bottom: 0;
}
/* line 184, sass/_content.scss */
.border-box form label {
  display: block;
  margin-bottom: 10px;
}
/* line 188, sass/_content.scss */
.border-box form label .comment {
  display: block;
  font-size: 11px;
  color: #999;
}
/* line 194, sass/_content.scss */
.border-box form label input {
  display: block;
  font-size: 16px;
  padding: 5px;
  margin: 5px 0;
}
/* line 205, sass/_content.scss */
.border-box form .fields-row label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-left: 5px;
}
/* line 211, sass/_content.scss */
.border-box form .fields-row label:first-child {
  padding-left: 0;
  padding-right: 5px;
}
/* line 216, sass/_content.scss */
.border-box form .fields-row label input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #999;
}
/* line 221, sass/_content.scss */
.border-box form .fields-row label input.error {
  border: 1px solid #b71401;
}
/* line 228, sass/_content.scss */
.border-box form button {
  padding: 10px;
  text-align: left;
  font-size: 15px;
  border: 0 none;
  margin-right: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2e1aa), color-stop(100%, #8a955e));
  background-image: -webkit-linear-gradient(top, #d2e1aa, #8a955e);
  background-image: -moz-linear-gradient(top, #d2e1aa, #8a955e);
  background-image: -o-linear-gradient(top, #d2e1aa, #8a955e);
  background-image: linear-gradient(top, #d2e1aa, #8a955e);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 237, sass/_content.scss */
.border-box form button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6f5be), color-stop(100%, #9ea972));
  background-image: -webkit-linear-gradient(top, #e6f5be, #9ea972);
  background-image: -moz-linear-gradient(top, #e6f5be, #9ea972);
  background-image: -o-linear-gradient(top, #e6f5be, #9ea972);
  background-image: linear-gradient(top, #e6f5be, #9ea972);
}
/* line 241, sass/_content.scss */
.border-box form button small {
  display: block;
  font-size: 11px;
}

/* line 253, sass/_content.scss */
.grid__cell, .grid__cell-1-to-2, .grid__cell-2-to-3, .grid__cell-1-to-3 {
  float: left;
  margin-left: 1.999%;
}
/* line 256, sass/_content.scss */
.grid__cell:first-child, .grid__cell-1-to-2:first-child, .grid__cell-2-to-3:first-child, .grid__cell-1-to-3:first-child {
  margin-left: 0;
}

/* line 261, sass/_content.scss */
.grid__cell-1-to-2 {
  width: 49%;
}

/* line 266, sass/_content.scss */
.grid__cell-2-to-3 {
  width: 65.33333%;
}

/* line 271, sass/_content.scss */
.grid__cell-1-to-3 {
  width: 32.66667%;
}

/* line 276, sass/_content.scss */
.carousel {
  padding: 15px 20px;
  overflow: hidden;
  position: relative;
}
/* line 280, sass/_content.scss */
.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10000px;
}
/* line 286, sass/_content.scss */
.carousel li {
  float: left;
  width: 207px;
  height: 207px;
  margin: 0 46px;
}
/* line 293, sass/_content.scss */
.carousel .carousel-prev,
.carousel .carousel-next {
  position: absolute;
}

/* line 299, sass/_content.scss */
.links p {
  line-height: 140%;
}

/* line 304, sass/_content.scss */
.social-widget {
  padding: 20px 0;
  text-align: right;
}
/* line 307, sass/_content.scss */
.social-widget #vk_groups {
  float: right;
}

/* line 312, sass/_content.scss */
.link__border {
  border-bottom: 1px solid #cccccc;
}

/* line 316, sass/_content.scss */
.social {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 321, sass/_content.scss */
.social li {
  float: left;
  margin-right: 10px;
}
/* line 325, sass/_content.scss */
.social .social-fb {
  display: block;
  width: 36px;
  height: 37px;
  background: url('/images/sprite-s03dad00836.png') 0 -118px no-repeat;
}
/* line 329, sass/_content.scss */
.social .social-od {
  display: block;
  width: 36px;
  height: 37px;
  background: url('/images/sprite-s03dad00836.png') 0 -81px no-repeat;
}
/* line 333, sass/_content.scss */
.social .social-vk {
  display: block;
  width: 37px;
  height: 37px;
  background: url('/images/sprite-s03dad00836.png') 0 -155px no-repeat;
}
/* line 337, sass/_content.scss */
.social .social-vladmama {
  display: block;
  width: 145px;
  height: 37px;
  background: url('/images/sprite-s03dad00836.png') 0 -7px no-repeat;
}
/* line 341, sass/_content.scss */
.social .social-drom {
  display: block;
  width: 100px;
  height: 37px;
  background: url('/images/sprite-s03dad00836.png') 0 -44px no-repeat;
}

/* line 347, sass/_content.scss */
.social-btns {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
/* line 351, sass/_content.scss */
.social-btns li {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
/* line 356, sass/_content.scss */
.social-btns .twitter-share-button {
  width: 100px;
}

/* line 361, sass/_content.scss */
.heading-tel {
  font-size: 23px;
  line-height: 120%;
  font-family: 'RobotoThin', sans-serif;
  padding: 20px 0;
  text-align: center;
}
/* line 367, sass/_content.scss */
.heading-tel a {
  display: block;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
}

/* line 374, sass/_content.scss */
.footer {
  background: url('/images/footer.png?1360206589') no-repeat;
  padding: 30px 10px;
  position: relative;
}
/* line 379, sass/_content.scss */
.footer .footer-text {
  float: left;
  margin-right: 40px;
  color: #666;
  font-size: 15px;
  line-height: 130%;
}
/* line 385, sass/_content.scss */
.footer .footer-text span {
  color: #000;
}
/* line 389, sass/_content.scss */
.footer .footer-copyrights {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #999;
}

/* line 397, sass/_content.scss */
.gray-color {
  color: #999;
  font-size: 12px;
}
