<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>{{ this.pageTitle }}</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="/css/style.css" type="text/css"/>
	{{ include('common/vk-api.twig') }}
</head>
<body>
<div class="wrap">
	{% include 'common/header.twig' %}
	{{ block('content') }}
	{% include 'common/footer.twig' %}
</div>
</body>
</html>
