<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>{{ this.pageTitle }}</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="/css/style.css" type="text/css"/>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?79"></script>
	<script type="text/javascript">
		VK.init({apiId: 3362015, onlyWidgets: true});
	</script>
</head>
<body>
<div class="wrap">
	{% include 'common/header.twig' %}
	{{ block('content') }}
	{% include 'common/footer.twig' %}
</div>
</body>
</html>
