<div id="footer" class="row-wrapper">
	<div class="row">
		<div class="span5 offset3">
			<p>© {{ "now"|date('Y') }}</p>
		</div>
	</div>
</div>
<!-- {{ (Yii.getLogger().executionTime * 1000)|number_format(2, ',', ' ') }} | {{ (Yii.getLogger().memoryUsage / 1048576)|number_format(2, ',', ' ') }} -->
