<div class="heading-tel">
	По всем вопросам обращаться к Дмитрию Колычеву,<br>
	по тел.: 8 908 440-87-00
	<a href="/uploads/flyers.zip">листовки для скачивания</a>
</div>
<div class="footer">
	<div class="footer-text">
		<p>Писачев Максим<br>
			Александрович<br>
			(папа Прохора)</p>
		<p><span>тел.: 8 914 706-68-02,<br>
			тел. в Сеуле 01021825535.</span></p>
	</div>
	<div class="footer-text">
		<p>Дмитрий Колычев<br>
			(представитель семьи<br>
			Писачевых)</p>
		<p><span>тел.: 8 908 440-87-00</span></p>
	</div>
	<div class="footer-text">
		<p>Ответственные по<br>
		копилкам:</p>
		<p>Катя, <span>тел.: 8 914 792-17-15<br></span>
			Лера, <span>тел.: 8 914 706-05-17</span></p>
	</div>
	<p class="footer-copyrights">Сайт разработан бесплатно.</p>
</div>
<!-- {{ (Yii.getLogger().executionTime * 1000)|number_format(2, ',', ' ') }} | {{ (Yii.getLogger().memoryUsage / 1048576)|number_format(2, ',', ' ') }} -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38452175-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
