{{ include('common/yandex-metrika.twig') }}
{{ include('common/vk-api.twig') }}

<div class="header">
	<div class="header-text">
		Маленькому Проше нужна помощь!
	</div>
	<div class="header-img"></div>
	<div class="header-description">
		<h1>Писачев<br>Прохор Максимович</h1>

		<p><span>Дата рождения:</span> 26 марта 2010 г (2 года)</p>

		<p><span>Диагноз:</span> <a href="http://podari-zhizn.ru/main/node/7681" target="_blank">эмбриональная рабдомиосаркома</a></p>

		<h2>Срочно требуется любая помощь в лечении ребенка!</h2>
		<ul class="collapse">
			<li class="collapse-item">
				<a class="collapse-link" href="#">Обращение отца</a>

				<div class="collapse-content">
					<div class="letter">
						<p>Я, Писачев Максим Александрович, отец Прохора, прошу оказания материальной помощи для лечения&nbsp;ребенка.</p>

						<p>Ребенок&nbsp;&mdash; Писачев Прохор Максимович, 26&nbsp;марта 2010 года рождения. Диагноз:
							рабдомиосаркома эмбриональная. Поставлен в&nbsp;госпитале Северанс (<a href="http://www.yuhs.or.kr/en" target="_blank">Severance Hospital of&nbsp;the
							Yonsei University Health System</a>), Южная Корея, Сеул. В&nbsp;данный
							момент находимся здесь&nbsp;на&nbsp;лечении.</p>

						<p>24 декабря 2012 в&nbsp;связи с&nbsp;жалобами ребенка на&nbsp;боли в&nbsp;животе обратились в&nbsp;клинику
							Аленка, г.&nbsp;Владивосток, так как состоим там на&nbsp;учете. По&nbsp;результатам УЗИ
							брюшной полости обнаружилось объемное образование, получили направление в&nbsp;ГБУЗ КДКБ
							&#8470;&nbsp;1. По&nbsp;результатам последующих анализов ребенку назначили биопсию, от&nbsp;которой
							мы&nbsp;(родители) отказались. Все происходило непосредственно перед новогодними
							праздниками, и&nbsp;нас предупредили, что экстренные меры будут приниматься только по&nbsp;прошествии
							новогодних каникул. У&nbsp;ребенка наблюдалась кишечная непроходимость, сдавливание мочевого
							пузыря и&nbsp;почек. Повторное УЗИ показало рост образования. Нам удалось связаться с&nbsp;госпиталем
							Северанс, Южная Корея, Сеул и&nbsp;экстренно выехать туда&nbsp;на&nbsp;лечение.</p>

						<p>31 декабря 2012 ребенок был госпитализирован. Были проведены анализы, взята биопсия,
							вставлены катетеры в&nbsp;почку и&nbsp;мочевой пузырь. По&nbsp;результатам биопсии поставлен
							диагноз&nbsp;&laquo;рабдомиосаркома&raquo;.</p>

						<p>На&nbsp;данный момент находимся в&nbsp;госпитале. Со&nbsp;слов лечащего доктора Jung Woo Han
							предполагается следующий медицинский&nbsp;план:</p>
						<ul>
							<li>Так как операция сразу невозможна, назначен курс химиотерапии (10&minus;12 процедур).
								Каждая с&nbsp;интервалом в&nbsp;три недели. Стоимость порядка 50 тысяч долларов.
							</li>
							<li>После курса химии будет возможна операция, скорее всего не&nbsp;одна. Стоимость одной&nbsp;&mdash;
								порядка 30 тысяч долларов.
							</li>
							<li>Следующий шаг&nbsp;&mdash; пересадка костного мозга, стоимость&nbsp;&mdash; 250&minus;300
								тысяч&nbsp;долларов.
							</li>
						</ul>
						<p>Пребывание в&nbsp;стационаре во&nbsp;время химиотерапии операций и&nbsp;пересадки костного
							мозга достаточно дорогостоящее. 15 января 2013 я&nbsp;оплатил за&nbsp;две недели пребывания
							29.189.764 вон (более 800 тысяч&nbsp;рублей).</p>

						<p>Таким образом, предварительная сумма лечения составит порядка 500 тысяч долларов. Сумма может
							уменьшиться или увеличится при прохождении лечения. Более точный план лечения врачи смогут
							сказать после третей химиотерапии, когда проведут дополнительные исследования на&nbsp;предмет
							поведения&nbsp;опухоли.</p>

						<p>На&nbsp;данный момент имею в&nbsp;наличии 1&nbsp;миллион рублей собственных сбережений,
							хватит на&nbsp;некоторое время проведения химиотерапии и&nbsp;нахождения в&nbsp;стационаре.
							Прошу&nbsp;помощи.</p>

						<p><i>18 января 2013&nbsp;г.</i></p>

					</div>
				</div>
			</li>
			<li class="collapse-item">
				<a class="collapse-link" href="#">Медицинские документы и счета</a>

				<div class="collapse-content">
					<ul class="documents-scans">
						<li><a rel="scans" href="/uploads/svidetelstvo.jpg">Свидетельство о рождении</a></li>
						<li><a rel="scans" href="/uploads/diagnoz1.jpg">Диагноз, стр. 1</a></li>
						<li><a rel="scans" href="/uploads/diagnoz2.jpg">Диагноз, стр. 2</a></li>
						<li><a rel="scans" href="/uploads/diagnoz3.jpg">Диагноз, стр. 3</a></li>
						<li><a rel="scans" href="/uploads/epicriz1.jpg">Выписной эпикриз, стр. 1</a></li>
						<li><a rel="scans" href="/uploads/epicriz2.jpg">Выписной эпикриз, стр. 2</a></li>
						<li><a rel="scans" href="/uploads/uzi1.jpg">Результаты УЗИ, стр. 1</a></li>
						<li><a rel="scans" href="/uploads/uzi2.jpg">Результаты УЗИ, стр. 2</a></li>
						<li><a rel="scans" href="/uploads/tomograph.jpg">Томограф</a></li>
						<li><a rel="scans" href="/uploads/schet1.jpg">Счет 1</a></li>
						<li><a rel="scans" href="/uploads/schet2.jpg">Счет 2</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
