<div class="header">
	<div class="header-text">
		Маленькому Проше нужна помощь!
	</div>
	<div class="header-img"></div>
	<div class="header-description">
		<h1>Писачев<br>Прохор Максимович</h1>

		<p><span>Дата рождения:</span> 26 марта 2010 г (2 года)</p>

		<p><span>Диагноз:</span> эмбриональная рабдомиосаркома</p>

		<h2>Срочно требуется любая помощь в лечении ребенка!</h2>
		<ul class="collapse">
			<li class="collapse-item">
				<a class="collapse-link" href="#">История прохора</a>

				<div class="collapse-content">
					<div class="letter">
						<p>Я, Писачев Максим Александрович, отец Прохора, прошу оказания материальной помощи для лечения
							ребенка.</p>

						<p>Ребенок - Писачев Прохор Максимович, 26 марта 2010 года рождения. Диагноз: рабдомиосаркома
							эмбриональная. Поставлен в госпитале Северанс (Severance Hospital of the Yonsei University
							Health System http://www.yuhs.or.kr/en), Южная Корея, Сеул.
							В данный момент находимся здесь на лечении.</p>

						<p>24 декабря 2012 в связи с жалобами ребенка на боли в животе обратились в клинику Аленка, г.
							Владивосток, так как состоим там на учете. По результатам УЗИ брюшной полости обнаружилось
							объемное образование, получили направление в ГБУЗ КДКБ №1. По результатам последующих
							анализов ребенку назначили биопсию, от которой мы (родители ) отказались. Все происходило
							непосредственно перед новогодними праздниками, и нас предупредили, что экстренные меры будут
							приниматься только по прошествии новогодних каникул. У ребенка наблюдалась кишечная
							непроходимость , сдавливание мочевого пузыря и почек. Повторное УЗИ показало рост
							образования. Нам удалось связаться с госпиталем Северанс, Южная Корея, Сеул и экстренно
							выехать туда на лечение.</p>

						<p>31 декабря 2012 ребенок был госпитализирован. Были проведены анализы, взята биопсия,
							вставлены катетеры в почку и мочевой пузырь. По результатам биопсии поставлен диагноз
							«рабдомиосаркома».</p>

						<p>На данный момент находимся в госпитале. Со слов лечащего доктора Jung Woo Han предполагается
							следующий медицинский план:</p>
						<ul>
							<li>Так как операция сразу невозможна , назначен курс химиотерапии (10-12 процедур). Каждая
								с интервалом в три недели. Стоимость порядка 50 тысяч долларов.
							</li>
							<li>После курса химии будет возможна операция, скорее всего не одна. Стоимость одной –
								порядка 30 тысяч долларов.
							</li>
							<li>Следующий шаг - пересадка костного мозга, стоимость - 250-300 тысяч долларов.</li>
						</ul>
						<p>Пребывание в стационаре во время химиотерапии операций и пересадки костного мозга достаточно
							дорогостоящее. 15 января 2013 я оплатил за две недели пребывания 29.189.764 вон (более 800
							тысяч рублей).</p>

						<p>Таким образом, предварительная сумма лечения составит порядка 500 тысяч долларов. Сумма может
							уменьшиться или увеличится при прохождении лечения. Более точный план лечения врачи смогут
							сказать после третей химиотерапии, когда проведут дополнительные исследования на предмет
							поведения опухоли.</p>

						<p>На данный момент имею в наличии 1 миллион рублей собственных сбережений, хватит на некоторое
							время проведения химиотерапии и нахождения в стационаре. Прошу помощи.</p>

						<p><i>18 января 2013 г.</i></p>
					</div>
				</div>
			</li>
			<li class="collapse-item">
				<a class="collapse-link" href="#">Медицинские документы и счета</a>

				<div class="collapse-content">

				</div>
			</li>
		</ul>
	</div>
</div>
