{% extends '@layouts/common.twig' %}

{% do this.setPageTitle('Помоги Прохору') %}

{% block content %}
	<div class="content">
	<div class="grey-box helping">
		<h1>На лечение Проши требуется собрать еще<br>
			<span><i>10 208 176</i> рублей</span> из 15 000 000 рублей</h1>

		<p>Сумма ориентировочная. Мы надеемся, что Проша пойдет на поправку, и сумма если и будет меняться, то в меньшую
			сторону.</p>
		<ul class="collapse collapse_2-col">
			<li class="collapse-item">
				<a class="collapse-link" href="#">Информация по поступлениям средств</a>

				<div class="collapse-content">

				</div>
			</li>
			<li class="collapse-item">
				<a class="collapse-link" href="#">Отчеты по расходам</a>

				<div class="collapse-content">

				</div>
			</li>
		</ul>
	</div>
	<h2>Как помочь?</h2>

	<div class="grid bank-info">
		<div class="grid__cell-1-to-2">
			<div class="border-box">
				<h3>Сбербанк</h3>

				<p><strong>Банковские карты</strong><br>
					№4276880013461987, Чернова Анна Викторовна<br>
					№4276850020150626, Писачев Максим Александрович</p>

				<p><strong>Расчетный счет</strong><br>
					Получатель: Чернова Анна Викторовна<br>
					Счет получателя: 40817810450002943110.<br>
					Банк получателя: Дальневосточный Банк ОАО Сбербанка России г. Хабаровск.<br>
					Кор/сч.: 30101810600000000608 в ГРКЦ ГУ Банка России по Хабаровскому краю.<br>
					БИК 040813608.<br>
					ИНН 7707083893.<br>
					КПП 790102001.<br>
					Назначение платежа: Зачисление на карту 639002509016408547 для Анны Викторовны Черновой.<br>
					Без НДС.
				</p>
			</div>
			<div class="border-box">
				<h3>KOREA EXCHANGE BANK (для перевода из-за границы):</h3>

				<p>Bank name : KOREA EXCHANGE BANK, SHINCHON BRANCH<br>
					Swift code : KOEXKRSE<br>
					Bank address : 121-806 NOGOSAN-DONG MAPO-GU SEOUL KOREA 107-1<br>
					Bank tel : 02)718-2281<br>
					Beneficiary name : PISACHEV MAKSIM<br>
					Beneficiary A/C : 650-008836-166 ( долларовый счет )<br>
					620-218719-796 (счет в воннах)<br>
					Beneficiary address : Seoul, Sodeamoon-Gu,Changchon-Dong 53,#60</p>
			</div>
		</div>
		<div class="grid__cell-1-to-2">
			<div class="border-box">
				<h3>Альфа-банк</h3>

				<p><strong>Банковские карты</strong><br>
					ОАО “Альфа-банк”.<br>
					Счет 40817810808600014643,<br>
					к/сч 30101810200000000593 в ОПЕРУ Московского ГТУ Цб РФ,<br>
					БИК 044525593, ИНН 7728168971<br>
					Писачев Максим Александрович.</p>
			</div>
			<div class="border-box">
				<h3>QIWI кошелек </h3>

				<p>9084484886</p>
			</div>
			<div class="border-box">
				<h3>Яндекс.Денги</h3>

				<p>410011747580674</p>

				<div class="ya-box">

				</div>
			</div>
			<div class="border-box">
				<h3>Билайн 8(967)-957-14-64</h3>

				<p class="gray-color">На данный номер возможно перечислить деньги так же, как вы это делаете, пополняя
					баланс своего мобильного счета. Оплату модно провести через терминал, у мобильных стоек, в отделениях
					«Билайн» и там, где принимают платежи «Билайна». Эти деньги выводятся через банк наличными. </p>
			</div>
		</div>
	</div>
	<div class="banks">
		<h2>Копилки <span>(адреса)</span></h2>
		<ul class="collapse collapse_2-col">
			<li class="collapse-item">
				<a class="collapse-link" href="#">Владивосток</a>

				<div class="collapse-content">
					<p>ул. Бородинская 46/50 ТЦ Виктория пав.55 Стафф-маркет<br>
						Храм Андрея Первозванного (на подводной лодке)<br>
						Успенсктй Храм ( на Лазо)<br>
						Ул. Карбышева д. 20, Магазин автозапчастей.<br>
						Ул. Ильичева д. 4, поликлиника "Аленка"<br>
						Ул. Некрасовская д. 90, поликлиника "Аленка"<br>
						УлКузнецова, д. 70, поликлиника "Аленка"<br>
						ул. Бородинская, д. 46, ТЦ Виктория, пав. 55<br>
						ул. Светланская, 173. ост. Гайдамак, Центр "Здравие" имени Скворцова<br>
						ул. Русская, 54А, №186 дет.сад "Катюша"(садик Проши)<br>
						ул. Светланская, д. 1, Кросс-бар<br>
						пр-кт 100 лет Владивостоку 150 (ост. "Заря") Фитнес -клуб "Sun Live"<br>
						ул. Деревенская, 14 (Деревенская), ТЦ Реми - столик Кислородных коктелей<br>
						ул. Русская 70Б, магазин "Рекси"<br>
						ул.Кирова 25Д в холле<br>
						ул. Русская, 5, мн-н В-Лазер Интерьер<br>
						ул.Русская, 46, магазин "Азбука мебели" 1 и 2 этаж<br>
						ул.Русская 9б, магазин "Народные кухни"<br>
						ул. Овчинникова, 2 - точка раздачи заказов СП "Точка"<br>
						Кузнецова 8 а магазин Рублик<br>
						ост.Дальзавод магазин Пчелка<br>
						Сеть детских магазинов"Счастливое детство" г. Владивосток:<br>
						ул. пр-кт 100 лет Вл-ку, 68а;<br>
						ул. пр-кт Кр. знамени, 86а;<br>
						ул. Светланская, 106 (ТЦ Авангард);<br>
						ул. ул. Баляева, 62;<br>
						ул. Борисенко, 96;<br>
						ул Нейбута 87-ТЦ Семь ветров-аптека (2 этаж)<br>
						ул Нейбута, 47-ТЦ Домовой-аптека<br>
						ул. Калинина, 230.<br>
						ул. Верхнепортовая 12 б, эстетик клуб Елены Лапухиной</p>
				</div>
			</li>
			<li class="collapse-item">
				<a class="collapse-link" href="#">Уссурийск</a>

				<div class="collapse-content">
					<p>ул. Агеева 56-б магазин "7 ветров"<br>
						ул. Некрасова 22 трест 34 "Канцтовары"<br>
						ул. Некрасова 187 "Торговый дом Артель"<br>
						ул. Некрасова, 59 магазин "Бэби"<br>
						ул. Лазо, 1 Магазин "Сталкер"<br>
						Краснознаменная 224 "б", База такси Восток, кафе ГОРОДОК<br>
						ул. Некрасова 252 магазин В-Лазер.<br>
						ул.Фрунзе 42 Детский салон-магазин "Развивайка"<br>
						ул.Калинина 48 магазин "Сакура"<br>
						ул.Некрасова 105 магазин "Сакура"<br>
						ул.Горького супермаркет "КВАРТАЛ"<br>
						ул.Горького 68 "ИДЕАЛ"<br>
						ул. Суханова 55-б "ЛЕДИВИЛЬ"<br>
						ул. Некрасова 187 "Торговый дом Артель"<br>
						ул. Некрасова 22 трест 34 "Канцтовары"<br>
						ул.Тургенева 3 "Железнодорожный техникум"<br>
						ул.Некрасова 258 "База КПС 19-20 ИП Карапетян С.С.<br>
						ул.Ленина 113 магазин "В-Лазер"<br>
						ул.Ленинградская 52А магазин "Водолей"<br>
						ул.Ленина 109 магазин "Сталкер"<br>
						Ул. Садовая 4, сеть магазинов Пивохлёб<br>
						Ул. Советская 57, сеть магазинов Пивохлёб<br>
						Ул. Муравьева 71 авторазборка.<br>
						Сбербанк. Перекресток Ленина-Чичерина<br>
						Сбербанк. Октябрьская 56<br>
						ул. Некрасова, 64 кафе "Сытый боцман"<br>
						ул. Чичерина, 101 кафе "Бургерная"<br>
						ул. Некрасова 161, строительный супермаркет компания ИДЕАЛ<br>
						ул. Садовая 12а, строительный магазин компания ИДЕАЛ<br>
						ул. Новоникольское шоссе 1"б"-магазин"ДальТоргСервис"<br>
						ул. Амурская 35 - магазин" Цветы"<br>
						Ул . Плеханова 49 - магазин" I'Studio "<br>
						Ул. Некрасова 91- магазин"Цветы от Валерии"<br>
						"Азбука мебели" Некрасова 254<br>
						"Азбука мебели" на Краснознаменной.<br>
						дом быта "Экспресс" 2 этаж. "Народные кухни"</p>
				</div>
			</li>
		</ul>
	</div>
	<h1 class="heading-red">Не оставайтесь равнодушными.<br>
		Вместе мы спасем этого чудного малыша!
	</h1>

	<div class="grey-box carousel">
		<a class="carousel-prev" href="#"></a>
		<a class="carousel-next" href="#"></a>
		<ul>
			<li>
				<img src="/images/image-1.png" alt="">
			</li>
			<li>
				<img src="/images/image-2.png" alt="">
			</li>
			<li>
				<img src="/images/image-3.png" alt="">
			</li>
		</ul>
	</div>
	<div class="grid links">
		<div class="grid__cell-2-to-3">
			<div class="link__border">
				<h3>Ссылки</h3>
				<ul class="social">
					<li><a class="social-fb" target="_blank" href="http://www.facebook.com/groups/435867689815160"></a></li>
					<li><a class="social-od" target="_blank" href="http://www.odnoklassniki.ru/group/51982246150239"></a>
					</li>
					<li><a class="social-vk" target="_blank" href="http://vk.com/prosha1"></a></li>
					<li><a class="social-vladmama" target="_blank"
						   href="http://vladmama.ru/forum/viewtopic.php?f=201&t=197447"></a></li>
					<li><a class="social-drom" target="_blank"
						   href="http://forums.drom.ru/vladivostok/t1151908308.html"></a></li>
				</ul>
				<p><a target="_blank" href="http://motodvd.ru/forum/viewtopic.php?f=34&t=3361">Мото-ДВ</a><br>
					<a target="_blank" href="http://www.ura-gorod.ru/forum/viewtopic.php?f=117&t=6288&p=249016">Форум
						Уссурийска</a><br>
					<a target="_blank" href="http://ussmama.ru/index.php?topic=1829.new">Уссурийский родительский
						форум</a><br>
					<a target="_blank"
					   href="http://www.ulov.ru/forum/showflat.php?Cat=0&Number=691893&page=0&vc=1&PHPSESSID=">Улов.ру</a><br>
					<a target="_blank" href="http://www.100sp.ru/purchase.php?pid=75347">Совместные покупки</a><br>
					<a target="_blank" href="http://helpneed.livejournal.com/468.html">ЖЖ</a></p>
			</div>
			<div>
				<h3>Ютуб</h3>

				<p><a target="_blank" href="http://www.youtube.com/watch?v=I1fFYaCAhwk">http://www.youtube.com/watch?v=I1fFYaCAhwk</a><br>
					<a target="_blank" href="http://www.youtube.com/watch?v=UuFWTi6LogY">http://www.youtube.com/watch?v=UuFWTi6LogY</a><br>
					<a target="_blank" href="http://www.youtube.com/watch?v=OT2CS56KXYc">http://www.youtube.com/watch?v=OT2CS56KXYc</a>
				</p>
			</div>
		</div>
		<div class="grid__cell-1-to-3 social-widget">
			<script type="text/javascript" src="//vk.com/js/api/openapi.js?78"></script>
			<!-- VK Widget -->
			<div id="vk_groups"></div>
			<script type="text/javascript">
				VK.Widgets.Group("vk_groups", {mode: 2, width: "250", height: "300"}, 48667147);
			</script>
		</div>
	</div>
	</div>
{% endblock %}
