.wrap {
  width: 920px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header-text {
  font-size: 35px;
  letter-spacing: 1pt;
  line-height: 110%;
  color: rgb(99,122,56);
  text-align: center;
  @include roboto-thin;
  @include text-shadow(0 -1px 0 rgba(0,0,0,0.8));
  padding: 30px 0;
}

.header {
  @extend %clearfix;
  padding-bottom: 50px;
}

.header-description {
  overflow: hidden;
  h1 {
    @include roboto;
    font-size:50px;
    font-stretch: condensed;
    letter-spacing: -1pt;
    line-height: 98%;
  }
  p {
    font-size: 20px;
    //letter-spacing:-1pt;
    line-height: 120%;
    //@include roboto-thin;
    margin: 0;
    span {
      color: #999;
    }
  }
  h2 {
    @include roboto;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1pt;
    line-height: 101%;
    color: rgb(183,20,1);
  }
}

.header-img {
  float: left;
  @include image-with-dimentions("top-image.png");
  margin-right: 30px;
  margin-left: -30px;
}

.letter {
  padding: 10px 0;
  p, ul {
    font-size: 15px;
    margin-bottom: 1em;
  }
  li {
    padding-bottom: 0.5em;
  }
}

.collapse {
  list-style: none;
  margin: 0;
  padding: 0;
  @extend %clearfix;
  .collapse-link {
    display: block;
    font-size: 14px;
    letter-spacing: 0pt;
    line-height: 140%;
    color: #666;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    @include roboto;
    margin-top: 10px;
    position: relative;
    @include after {
      @include sp("green-arrow-down");
      position: absolute;
      right: 0;
      top: 7px;
    }
  }
  .collapse-content {
    max-height: 0;
    @include transition(max-height 0.4s);
    overflow: hidden;
  }
  .active {
    .collapse-link {
      @include after {
        @include sp("green-arrow-up");
      }
    }
    .collapse-content {
      max-height: 1500px;
      overflow: hidden;
    }
  }
  &.collapse_2-col {
    .collapse-item {
      width: 49%;
      float: left;
      @include box-sizing(border-box);
      margin-left: 1.999%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.documents-scans {
  padding-top: 10px;
}

.grey-box {
  background-color: #ECEEEF;
  margin-left: -10px;
  margin-right: -10px;
  @include box-shadow(0 1px 0 0 rgba(255,255,255,0.25), inset 0 1px 2px 0 rgba(12,51,76,0.27));
  @include border-radius(10px);
  padding: 30px;
}

.helping {
  h1 {
    margin-top: 0;
    font-size: 26px;
    //letter-spacing: -1pt;
    line-height: 98%;
    color: rgb(99,121,56);
    @include roboto;
    @include text-shadow(0 -1px 0 rgba(0,0,0,0.8));
    span {
      font-weight: bold;
      color: #B71300;
      @include text-shadow(0 -1px 0 rgba(0,0,0,0.8));
      i {
        font-style: normal;
        font-size: 50px;
        line-height: 140%;
      }
    }
  }
}

.banks {
  p {
    line-height: 1.4em;
  }
}

.heading-red {
  @include roboto-thin;
  font-size: 35px;
  line-height: 120%;
  color: #B71502;
  text-align: center;
}

.border-box {
  border: 1px solid #F0F0F0;
  @include border-radius(5px);
  padding: 15px;
  margin-bottom: 18px;
  h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.grid {
  @extend %clearfix;
}

.grid__cell {
  float: left;
  margin-left: 1.999%;
  &:first-child {
    margin-left: 0;
  }
}

.grid__cell-1-to-2 {
  width: 49%;
  @extend .grid__cell;
}

.grid__cell-2-to-3 {
  width: 98/3 * 2%;
  @extend .grid__cell;
}

.grid__cell-1-to-3 {
  width: (98/3) *1%;
  @extend .grid__cell;
}

.carousel {
  padding: 15px 20px;
  overflow: hidden;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 10000px;
  }
  li {
    float: left;
    width: 207px;
    height: 207px;
    margin: 0 46px;
  }
  .carousel-prev,
  .carousel-next {
    position: absolute;
  }
}

.links {
  p {
    line-height: 140%;
  }
}

.social-widget {
  padding: 20px 0;
  text-align: right;
  #vk_groups {
    float: right;
  }
}

.link__border {
  border-bottom: 1px solid #cccccc;
}

.social {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 10px;
  }
  .social-fb {
    display: block;
    @include sp("social-fb");
  }
  .social-od {
    display: block;
    @include sp("social-od");
  }
  .social-vk {
    display: block;
    @include sp("social-vk");
  }
  .social-vladmama {
    display: block;
    @include sp("social-vladmama");
  }
  .social-drom {
    display: block;
    @include sp("social-drom");
  }
}

.heading-tel {
  font-size: 23px;
  line-height: 120%;
  @include roboto-thin;
  padding: 20px 0;
  text-align: center;
  a {
    display: block;
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 16px;
  }
}

.footer {
  background: image-url("footer.png") no-repeat;
  padding: 30px 10px;
  position: relative;
  @extend %clearfix;
  .footer-text {
    float: left;
    margin-right: 40px;
    color: #666;
    font-size: 15px;
    line-height: 130%;
    span {
      color: #000;
    }
  }
  .footer-copyrights {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #999;
  }
}
